[Unit]
Description=gunicorn daemon for Django project
After=network.target

[Service]
User=ubuntu
Group=www-data
UMask=0002
WorkingDirectory=/home/ubuntu/litloop_backend_v2

Environment=DJANGO_SETTINGS_MODULE=litloop_project.settings.prod


ExecStart=/home/ubuntu/litloop_backend_v2/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/ubuntu/litloop_backend_v2/deploy/gunicorn/gunicorn.sock \
          litloop_project.wsgi:application

ExecStart=/home/ubuntu/litloop_backend_v2/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/ubuntu/litloop_backend_v2/deploy/gunicorn/gunicorn.sock \
          --group www-data \
          --mode 664 litloop_project.wsgi:application

Restart=always

[Install]
WantedBy=multi-user.target
