boto3
celery
channels
cinemagoer
deezer-py
django
django-celery-beat
django-cors-headers
django-extensions
django-imagekit
django-mptt
django-redis
django-shortcuts
django-storages
djangorestframework
djangorestframework-simplejwt
drf-yasg
filetype
gunicorn
m3u8
pillow
psycopg2-binary
py-deezer
selenium
spotipy
undetected-chromedriver
webdriver-manager
