boto3
cassandra-driver
celery
channels
cinemagoer
deezer-py
django
django-celery-beat
django-cors-headers
django-extensions
django-mptt
django-redis
django-shortcuts
djangorestframework
djangorestframework-simplejwt
drf-yasg
filetype
google-genai
gunicorn
m3u8
psycopg2-binary
py-deezer
selenium
spotipy
undetected-chromedriver
webdriver-manager
